version: "3"

services:
  server:
    build: server/
  es:
    # https://www.cnblogs.com/mxmbk/p/9969008.html
    image: "elasticsearch:7.6.2"
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      - discovery.type=single-node
  mongo:
    image: mongo:3.6.18-xenial
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
  mongo-express:
    image: mongo-express:0.54.0
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root
# TODO: network