
@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('./res/font/JetBrainsMono-Regular.ttf');
}

.app {
    position: relative;
    width: 100%; height: 100%;
    overflow: hidden;
    font-family: 'JetBrainsMono-Regular';
}

.app-nav {
    position: relative;
    width: 100%; height: 40px;
    background-color: rgb(28, 122, 160);
    text-align: center;
    color: rgb(211, 211, 211);
    user-select: none;
}

.app-nav-item {
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    line-height: 36px;
    padding: 2px 10px;
    cursor: pointer;
    text-shadow: 0px 0px 3px rgb(12, 92, 124);
}

.app-nav-item:hover {
    color: white;
}

.app-nav-item-active {
    color: white;
    font-weight: bold;
}

.app-content {
    position: relative;
    width: 100%; height: calc(100% - 40px);
}