.app {
    position: relative;
    width: 100%; height: 100%;
    overflow: hidden;
}

.app .nav {
    position: relative;
    width: 100%; height: 40px;
    background-color: rgb(19, 146, 146);
    box-shadow: 0px 0px 3px gray;
    text-align: center;
    color: rgb(196, 185, 186);
}

.navItem {
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    line-height: 36px;
    padding: 2px 10px;
    cursor: pointer;
    text-shadow: 0px 0px 3px rgb(10, 90, 90);
}

.navItem:hover {
    color: white;
}

.app .content {
    position: relative;
    width: 100%; height: calc(100% - 40px);
}