
.dashboard-container {
    display: flex;
    width: 100%; height: 100%;
    flex-flow: row nowrap;
    justify-content: left;
}

.node-list {
    display: inline-block;
    width: 150px; height: 100%;
    text-align: center;
    background-color: rgb(226, 226, 226);
}

.node-list-item {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.node-list-item::before {
    content: '';
    position: absolute;
    left: 0px; top: 10px;
    width: 10px; height: 26px;
    box-shadow: 0px 0px 3px rgb(138, 137, 137);
}

.node-list-item:nth-of-type(1)::before {
    top: 4px;
}

.selected-node {
    background-color: white;
}

.available-node::before {
    background-color: rgb(3, 204, 3);
}

.unavailable-node::before {
    background-color: rgb(238, 42, 42);
}

/* node detail */

.node-detail {
    display: flex;
    position: relative;
    width: calc(100% - 150px); height: 100%;
    /* border-left: solid 1px rgb(173, 173, 173); */
}

.node-dynamic-info {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    width: calc(70% - 10px); height: 100%;
}

.node-dynamic-info-item {
    display: flex;
    flex-flow: column nowrap;
}

.node-dynamic-info-chart {
    display: inline-block;
    position: relative;
    width: 300px; min-height: 160px;
}

.node-metadata {
    position: relative;
    box-sizing: border-box;
    left: 20px;
    width: calc(30% - 10px); height: 100%;
    padding: 5px 10px 5px 0px;
}

/* divider */
.node-metadata::before {
    content: '';
    position: absolute;
    width: 1px; height: 96%;
    left: -11px; top: 2%;
    background-color: rgb(216, 216, 216);
}

.node-metadata-item {
    display: block;
    margin-top: 20px;
}

.node-metadata-item:nth-of-type(1) {
    margin-top: 0px;
}

.node-metadata-item .title {
    display: inline-block;
    padding-bottom: 2px;
    font-size: large;
    border-bottom: solid 1px rgb(216, 216, 216);
}

.node-metadata-item-field {

}

.node-metadata-item-field .field-name {
    display: inline-block;

}

.node-metadata-item-field .field-name::after {
    content: ':';
}

.node-metadata-item-field .field-value {
    display: inline-block;
    margin-left: 5px;
    
}